body {
    box-sizing: border-box;
    margin: 0;
}

main {
    background-image: url(./imgs/quiz\ image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    width: 100%;
    background-color: yellow;
    height: 100vh;
    margin-top: px;
}

.enbody {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 40px;
    margin: 5rem 3rem;
    color: gold;
}

.uhm {
    margin-top: -15px;
}

#time {
    /* border: 0.2rem solid black; */

    padding: 0.3rem 1.7rem;
    background-color: white;
    color: black;
    width: fit-content;
    height: fit-content;
    margin-top: 6rem;
    margin-right: 6rem;
    border-radius: 0.3rem;
}

#minute {
    font-size: 1.5rem;
}

#second {
    font-size: 1.5rem;
}

section {
    /* border: 0.2rem solid black; */
    padding: 1rem;
}

.words {}

.cardy {
    border: 0.2rem solid black;
    margin-top: 5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
}

.nexty {
    border: none;
    padding: 0.3rem 1.3rem;
    font-weight: bold;
    border-radius: 0.3rem;
    letter-spacing: 0.2rem;
}

.nexty:hover {
    background-color: blue;
    color: white;
    border: 0.2rem dotted white;
}

#aside {
    margin-top: -2rem;
}

.card {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
    /* display: none; */
}

.card_two {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_three {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_four {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_five {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_six {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_seven {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_eight {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_nine {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_ten {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.card_bonus {
    border: 0.2rem solid black;
    margin-top: 0.5rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: none;
}

.score {
    border: 0.2rem solid black;
    margin-top: rem;
    border-radius: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: gold;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    display: none;
}

.lang {
    font-size: 3.5rem;
    margin-top: 1.8rem;
}

#score {
    font-size: 3rem;
    margin-left: 0.8rem;
}

.slash {
    width: 5rem;
    border: 0.2rem solid black;
    transform: rotate(-25deg);
}

.total {
    font-size: 3rem;
    margin-left: 0.8rem;

}

.bug {
    border: none;
    background-color: grey;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.bug:hover {
    background-color: blue;
}

.bug a {
    text-decoration: none;
    color: white;
}

.bug a:hover {
    text-decoration: none;
    color: white;

}

.head {
    font-size: 2rem;
}

.quest {
    background-color: #dfd7d7;
    border-radius: 0.2rem;
    padding: 0.6rem;
    font-size: 1.4rem;
}

.option {
    margin-top: 1.5rem;
}

.options {
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    border: none;
    width: 100%;
    font-size: 1.2rem;
    cursor: pointer;
}

.options:hover {
    background-color: yellow;
    border: 0.1rem dotted;
}

.footer {
    display: flex;
    justify-content: space-between;
    /* justify-content: space-around; */
    margin-top: 1rem;
}

.pre {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    visibility: hidden;
}

.prev {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

.next {
    border: none;
    border-radius: 0.2rem;
    padding: 0.6rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
}

@media (max-width:600px) {
    .score {
        width: 100%;
        margin-left: 0;
    }

    .lang {
        font-size: 2rem;
        margin-top: 1.8rem;
    }

    #score {
        font-size: 2rem;
        margin-left: 0.8rem;
    }

    .slash {
        width: 4rem;
        border: 0.2rem solid black;
        transform: rotate(-25deg);
    }

    .total {
        font-size: 2rem;
        margin-left: 0.8rem;

    }

    .name {
        font-size: 20px;
    }
}

@media (max-width:400px) {

    .card,
    .card_two,
    .card_three,
    .card_four,
    .card_five,
    .card_six,
    .card_seven,
    .card_eight,
    .card_nine,
    .card_ten,
    .card_ten,
    .card_bonus,
    .cardy {
        width: 100%;
        margin-left: 0;
        margin-top: 0;
    }
    .quest{
        font-size: 1.1rem;
    }
    .name {
        font-size: 18px;
        margin: 2rem 1rem;
        color: gold;
    }
    
    .uhm {
        margin-top: -10px;
    }
    #time {
        /* border: 0.2rem solid black; */
    
        padding: 0.3rem 1.7rem;
        background-color: white;
        color: black;
        width: fit-content;
        height: fit-content;
        margin-top: 2rem;
        margin-right: 2rem;
        border-radius: 0.3rem;
    }
    section{
        margin-top: 5rem;
    }

}