body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
    
}
nav{
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #4C99CE;
    height: 115px;
    position: fixed;
    top: 0;
    width: 99%;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.logo{
    width: 120px;
    height: 120px;
    background-color: #B7D43E; 
}
.one{
    display: flex;
    width: 40%;
}
.name{
    font-size: 40px;
    margin-top: 10px;
    margin-left: -10px;
    color: white;
}
.uhm{
    margin-top: -15px;
}
.sec{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 70px;
    font-size: 25px;
    margin: 70px 30px 0px;
    margin-left: -100px;
    padding: 0px 0px 10px 0px;
    color: white;
}
.home{
    color: #DF9523;
    font-weight: bolder;
}
.sp{
    padding: 0px 10px;
    height: 35px;
    border-radius: 5px;
}
.sp:hover{
    background-color: #DF9523;
    color: white;
}
.loli{
    border: 1px solid black;
}
.onf{
    margin-top: 15px;
    padding: 10px;
    margin-right: 20px;
    width: 60px;
    height: 50px;
    border: none;
    border-radius: 5px;
    position: relative;
    display: none;
}
.same{
    width: 37px;
    background-color: black;
    margin-top: 5px;
    height: 4px;
}
.down{
    text-align: left;
    right: 2px;
    padding: 5px;
    background-image: linear-gradient(to right, white , #aaaa);
    color: #4C99CE;
    margin-top: 10px;
    width: 200px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    display: none;
}
.onf:focus-within .down{
    display: block;
}
p:hover{
    color: #DF9523;
}
.face{
    background-size: cover;
    width: 100%;
    margin-top: 120px;
    height: 100vh;
    animation: samuel 30s ease-in-out infinite;
    background-blend-mode: darken;
    background-color: rgba(182, 182, 182, 0.9);
    display: flex;
    justify-content: space-between;
}
@keyframes samuel {
    0%,100%{
        background-image:url(./imgs/bright-education-logo-2AJ06MD.jpg);
    }
    25%{
        background-image:url(./imgs/classroom.jpg) ;  
    }
    50%{
        background-image:url(./imgs/area.jpg) ;
    }
    75%{
        background-image:url(./imgs/cap\ with\ book.jpg) ;
    }
    }
    .half{
        width: 30%;
        margin-left: 50px;
    }
    .font{
        display: flex;
        justify-content: center;
        text-align: center;
        font-weight: bolder;
        padding-top: 100px;
        font-size: 50px;
        color: black;
    }
    .words{
        font-size: 18px;
        font-weight: bold;
        margin-top: 30px;
    }
    .secimg{
        margin-right: 50px;
        margin-top: 100px;
        height: 500px;
        display: flex;
        justify-content: space-between;
        width:55%;
    }
    .arrow{
        font-size: 40px;
        position: absolute;
        font-weight: bolder;
        border-radius: 50%;
        margin-left: 40px;
        padding: 20px;
        margin-top: -150px;
        width: fit-content;
        background-color: #4C99CE;
        animation: sam 3s ease-in-out infinite;
    }
    @keyframes sam {
        0%{
           margin-top: -200px;
        }
        75%{
           margin-top: -150px;
           background-color: #DF9523;
        }
        100%{
            margin-top: -200px;
         }

    }
    .enroll:hover{
        background-color: #DF9523;
        color: white;
        
    }
    .enroll:hover .arrow{
        background-color: #DF9523;
        color: white;
    }
    .enroll{
        margin-left: 20px;
        border-radius: 30px;
        font-size: 20px;
        font-weight: bold;
        background-color: #4C99CE;
        color: black;
        padding: 15px;
        margin-top: 20px;
        width: fit-content;  
    }
    .um{
        width: 300px;
        height: 400px;
        border-radius: 10px;
    }
    .ume{
        width: 300px;
        margin-top: 20px;
        height: 400px;
        border-radius: 10px;
        
    }
    footer{
        background-image: linear-gradient(white, #646060);
    }
    .lally{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: space-evenly;
        background-image: linear-gradient(white, #646060);
        color: black;
        padding: 10px;
        margin-top: 10px;
    }
    .lone{
        width: 40%;
    }
    .ltwo{
        width: 40%;
    }
    section{
        display: none;
        margin-top: 80px;
        background-image: url(./imgs/boy\ and\ gal.jpg);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .ui{
        height:500px ;
        background-color: rgba(0, 0, 0, 0.5); 
    }
    .oops{
        width: 70%;
        color: white;
        
        width: 70%;
    }
    .fon{
        font-size: 45px;
        letter-spacing: 2px;
        font-weight: bold;
    }
    .wor{
        margin-top: 20px;
    }
    .en{
        color: white;
        border-radius: 5px;
        margin-right: 50px;
        background-color: #4C99CE;
        padding: 10px;
        width: fit-content;
        float: right;
    }
    .oh{
        background: none;
        font-size: 15px;
        border: none;
        color: white;
        font-weight: bold;
    }
    .en:hover{
        background-color: #DF9523;
    }
    @media (max-width:820px) {
        nav{
            text-align: center;
            display: flex;
            justify-content: space-between;
            background-color: #4C99CE;
            height: 70px;
            position: fixed;
            top: 0;
            width: 99%;
            box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
            z-index: 1;
        }
        .logo{
            width: 70px;
            height: 70px;
            background-color: #B7D43E; 
        }
        .one{
            display: flex;
            width: 40%;
        }
        .name{
            font-size: 25px;
            margin-top: 10px;
            margin-left: 5px;
            color: white;
        }
        .uhm{
            margin-top: -5px;
        }
        .sec{
            display: flex;
            justify-content: space-between;
            width: 60%;
            display: none;
            font-size: 25px;
            margin: 50px 30px 0px;
            margin-left: -100px;
            padding: 0px 0px 10px 0px;
            color: white;
        }
        .home{
            color: #DF9523;
            font-weight: bolder;
        }
        .sp{
            padding: 0px 10px;
            height: 35px;
            border-radius: 5px;
        }
        .sp:hover{
            background-color: #DF9523;
            color: white;
        }
        .onf{
            display: block;
        }
        main{
            display: none;
        }
        section{
            display: block;
        }
    }
    @media (max-width:550px) {
        .fon{
            font-size: 25px;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .oops{
            width: 50%;
            color: white;
            padding: 20px;
            width: 70%;
        }
        .wor{
            margin-top: 20px;
        }
        .en{
            margin-right: 10px;
        }
        .name{
            font-size: 20px;
            margin-top: 10px;
            margin-left: 2px;
            color: white;
        }
        .uhm{
            margin-top: -1px;
        }
        .one{
            width: 60%;
        }
        .lone, .ltwo{
            font-size: 10px;
        }
    }